#Submitted to the GitHub ignored configuration
*.class
#package file
*.war
*.ear
*.orig
 
target/
.settings/
.project
.classpath
 
.idea/
/idea/
*.ipr
*.iml
*.iws

out/
 
*.log
*.cache
*.diff
*.patch
*.tmp

.DS_Store
Thumbs.db

